header{
    background-color: transparent;
}

body{
    font-family: sans-serif;
    color: white;
    background-color:black;
    
}


table{
    color:white;
}

h1{
    font-family: sans-serif;
    text-align: center;
    color: white;
}